<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <!-- Reads updated "RequestErrors.UseServerSideRedirect" value and transfers request to LayoutNoutFoundUrl or ItemNotFoundUrl, preserving requested URL -->
        <!--<processor type="EMAAR.Emaarcommunities.Foundation.ErrorHandling.Pipelines.ErrorRedirect.CustomExecuteRequest, EMAAR.Emaarcommunities.Foundation.ErrorHandling"
				   resolve="true" patch:instead="*[@type='Sitecore.Pipelines.HttpRequest.ExecuteRequest, Sitecore.Kernel']"/>-->
      </httpRequestBegin>
      <httpRequestEnd>
        <!--Sets a 404 status code on the response-->
        <!--<processor type="EMAAR.Emaarcommunities.Foundation.ErrorHandling.Pipelines.ErrorRedirect.SetErrorStatusCode, EMAAR.Emaarcommunities.Foundation.ErrorHandling"
				   patch:after="*[@type='Sitecore.Pipelines.HttpRequest.EndDiagnostics, Sitecore.Kernel']">
          <disallowedDatabases>core</disallowedDatabases>
          <disallowedSites>shell</disallowedSites>
        </processor>-->
      </httpRequestEnd>
      <mvc.exception>
        <!--<processor type="EMAAR.Emaarcommunities.Foundation.ErrorHandling.Pipelines.MvcException.ExceptionProcessor, EMAAR.Emaarcommunities.Foundation.ErrorHandling"
                   patch:before="processor[1]" />-->
      </mvc.exception>
    </pipelines>
    <log4net>
      <appender name="EmaarcommunitiesCustomLogAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/Emaarcommunities.log.{date}.txt" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
      </appender>
      <logger name="EmaarcommunitiesLog" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="EmaarcommunitiesCustomLogAppender" />
      </logger>      
    </log4net>
    <settings>
      <setting name="Emaar.Emaarcommunities.Foundation.ErrorHandling.LayoutNotFoundUrl">
        <patch:attribute name="value">/404</patch:attribute>
      </setting>
      <setting name="Emaar.Emaarcommunities.Foundation.ErrorHandling.ItemNotFoundUrl">
        <patch:attribute name="value">/404</patch:attribute>
      </setting>
      <setting name="RequestErrors.UseServerSideRedirect">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>