@model EMAAR.Emaarcommunities.Foundation.ORM.Models.sitecore.templates.Project.Emaarcommunities.Content_Types.Related_Pages.IRelated_Pages
@using EMAAR.Emaarcommunities.Foundation.SitecoreExtensions
@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Framework.Fields.Extensions
@if (Model != null && Model.Pages != null && Model.Pages.Count() > 0)
{
    <div class="exploreBoxes">
        <div class="container">
            <div class="row">
                @foreach (var relatedPages in Model.Pages)
                {
                    <div class="col-md-6 col-lg-3">
                        <div class="explore-item">
                            @if (relatedPages.CTA != null)
                            {
                                using (Html.Glass().BeginRenderLink(relatedPages, x => x.CTA, new { @class = "link" }, isEditable: true))
                                {
                            <div class="explore-item-img">
                                @if (relatedPages != null && relatedPages.Image != null)
                                {
                                    @Html.Sitecore().AdvancedImageField(CommonConstants.Image, relatedPages.ContextItem, 255, 350, "image", "img-fluid", false)                                

                                }
                                <h3 class="title">@Html.Glass().Editable(relatedPages, x => x.Title)</h3>
                            </div>
                                    <div class="explore-item-text">
                                        <h3 class="title">@Html.Glass().Editable(relatedPages, x => x.Title)</h3>
                                        @Html.Raw(Html.Glass().Editable(relatedPages, x => x.Summary))

                                    </div>
                                }
                            }
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
}