<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
		<pipelines>
			<initialize>
				<processor patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeGlobalFilters, Sitecore.Mvc']"
				   type="EMAAR.Emaarcommunities.Project.Website.Pipelines.RegisterPlatformBundles, EMAAR.Emaarcommunities.Project.Website" />
			</initialize>
		</pipelines>
        <domainManager>
            <domains>
                <domain id="habitat" type="Sitecore.Security.Domains.Domain, Sitecore.Kernel">
                    <param desc="name">$(id)</param>
                    <ensureAnonymousUser>false</ensureAnonymousUser>
                </domain>
            </domains>
        </domainManager>
        <events>
            <event name="publish:end">
                <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
                    <sites hint="list">
                        <site hint="DowntownDubai">DowntownDubai</site>
                    </sites>
                </handler>
            </event>
            <event name="publish:end:remote">
                <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
                    <sites hint="list">
                        <site hint="DowntownDubai">DowntownDubai</site>
                    </sites>
                </handler>
            </event>
        </events>
        <sites>
            <site name="DowntownDubai" patch:after="site[@name='modules_website']"                  
                  database="master" 
                  virtualFolder="/" 
                  physicalFolder="/" 
                  rootPath="/sitecore/content/Emaarcommunities/DowntownDubai" 
                  startItem="/Home" 
                  allowDebug="true" 
                  cacheHtml="true" 
                  htmlCacheSize="50MB" 
                  registryCacheSize="0" 
                  viewStateCacheSize="0" 
                  xslCacheSize="25MB" 
                  filteredItemsCacheSize="10MB" 
                  enablePreview="true" 
                  enableWebEdit="true" 
                  enableDebugger="true" 
                  disableClientData="false" 
                  cacheRenderingParameters="true" 
                  renderingParametersCacheSize="10MB" 
                  enableItemLanguageFallback="true"
				  dictionaryDomain="DowntownDubai" 
				  enabledLanguages="en"/>
        </sites>
        <cacheSizes>
            <sites>
                <habitat>
                    <html>50MB</html>
                    <registry>0</registry>
                    <viewState>0</viewState>
                    <xsl>25MB</xsl>
                </habitat>
            </sites>
        </cacheSizes>
        <settings>
			<setting name="IgnoreUrlPrefixes" value="/sitecore/default.aspx|/trace.axd|/webresource.axd|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.DialogHandler.aspx|/sitecore/shell/applications/content manager/telerik.web.ui.dialoghandler.aspx|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.SpellCheckHandler.axd|/Telerik.Web.UI.WebResource.axd|/sitecore/admin/upgrade/|/layouts/testing|/bundles"/> 
			<setting name="Preview.DefaultSite">
                <patch:attribute name="value" value="website" />
            </setting>
			<setting name="Preview.ResolveSite" value="true"></setting>
        </settings>
    </sitecore>
</configuration>