<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>

      <indexConfigurations>
        <defaultCloudIndexConfiguration type="Sitecore.ContentSearch.Azure.CloudIndexConfiguration, Sitecore.ContentSearch.Azure">
          <documentOptions type="Sitecore.ContentSearch.Azure.CloudSearchDocumentBuilderOptions,Sitecore.ContentSearch.Azure">
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="imageurl">EMAAR.Emaarcommunities.Foundation.Search.ComputedFields.ImageUrl, EMAAR.Emaarcommunities.Foundation.Search</field>
				<field fieldName="thumbnailurl">EMAAR.Emaarcommunities.Foundation.Search.ComputedFields.ThumbnailUrl, EMAAR.Emaarcommunities.Foundation.Search</field>
				
              <field fieldName="pageurl">EMAAR.Emaarcommunities.Foundation.Search.ComputedFields.PageUrl, EMAAR.Emaarcommunities.Foundation.Search</field>
              <field fieldName="customsortorder">EMAAR.Emaarcommunities.Foundation.Search.ComputedFields.CustomSortOrder, EMAAR.Emaarcommunities.Foundation.Search</field>
              <field fieldName="customyear" searchable="YES" retrievable="YES" facetable="YES" filterable="YES" sortable="YES">EMAAR.Emaarcommunities.Foundation.Search.ComputedFields.CustomYear, EMAAR.Emaarcommunities.Foundation.Search</field>
              <field fieldName="customdate" searchable="YES" retrievable="YES" facetable="YES" filterable="YES" sortable="YES">EMAAR.Emaarcommunities.Foundation.Search.ComputedFields.CustomDate, EMAAR.Emaarcommunities.Foundation.Search</field>
              <field fieldName="custommonth">EMAAR.Emaarcommunities.Foundation.Search.ComputedFields.CustomMonth, EMAAR.Emaarcommunities.Foundation.Search</field>
              <field fieldName="externalurl">EMAAR.Emaarcommunities.Foundation.Search.ComputedFields.ExternalUrl, EMAAR.Emaarcommunities.Foundation.Search</field>
              <field fieldName="renderingscontent">EMAAR.Emaarcommunities.Foundation.Search.ComputedFields.RenderingsContent, EMAAR.Emaarcommunities.Foundation.Search</field>
				<field fieldName="customsitefieldname" searchable="YES" retrievable="YES"  filterable="YES" sortable="YES">EMAAR.Emaarcommunities.Foundation.Search.ComputedFields.CustomSiteNameField, EMAAR.Emaarcommunities.Foundation.Search</field>
            </fields>       
          </documentOptions>
          <fieldMap             type="Sitecore.ContentSearch.Azure.FieldMaps.CloudFieldMap, Sitecore.ContentSearch.Azure">
            <fieldNames hint="raw:AddFieldByFieldName">
              <field type="System.String" fieldName="title" searchable="YES" retrievable="YES" facetable="YES" filterable="YES" sortable="YES" boost="1f" settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" cloudAnalyzer="language"/>
            </fieldNames> 
          </fieldMap>
        </defaultCloudIndexConfiguration>
      </indexConfigurations>

    </contentSearch>
    <settings>
    <setting name="EMAAR.Emaarcommunities.Foundation.Search.PlaceholdersToSearch" value="ecm_content,ecm_bodycontent" />
    <setting name="EMAAR.Emaarcommunities.Foundation.Search.BasePageTemplateId" value="{DA95565E-5CB7-4C2C-B195-DC55C5957181}" />
    <setting name="ContentSearch.Azure.SwitchOnRebuild" value="true"/>
    <setting name="ContentSearch.Azure.SwitchOnRebuildCleanUpDelay" value="00:01:00"/>
    <setting name="EMAAR.Emaarcommunities.Foundation.Search.ExcludeTemplatesFromSearchPage" value="{AF5D11D7-F83A-4D16-8747-D92F6F873071},{1E94036E-078A-4387-A541-9963D3AF9DBA}" />
      <setting name="EMAAR.Emaarcommunities.Foundation.Search.ExcludeItemNamesFromSearchPage" value="404,error" />
    </settings>
  </sitecore>
</configuration>