<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<fieldTypes>
			<fieldType name="Emaarcommunities QuerableTreelist" type="EMAAR.Emaarcommunities.Foundation.SitecoreExtensions.Controls.QueryableTreelist,EMAAR.Emaarcommunities.Foundation.SitecoreExtensions" resizable="true" />
		</fieldTypes>
	
		<settings>		
			<setting name="EMAAR.Emaarcommunities.Foundation.SitecoreExtensions.FeatureViewPath" value="~/Views/Feature/Emaarcommunities/" />
			<setting name="EMAAR.Emaarcommunities.Foundation.SitecoreExtensions.ProjectViewPath" value="~/Views/Project/Emaarcommunities/" />
			<setting name="EMAAR.Emaarcommunities.Foundation.SitecoreExtensions.HomePageSearch" value="/Site Settings/Site Specific Images/Home/HomePageSearch" />
			<setting name="EMAAR.Emaarcommunities.Foundation.SitecoreExtensions.HomePageClose" value="/Site Settings/Site Specific Images/Home/HomePageClose" />
			<setting name="EMAAR.Emaarcommunities.Foundation.SitecoreExtensions.ContentPageSearch" value="/Site Settings/Site Specific Images/Content/ContentPageSearch" />
			<setting name="EMAAR.Emaarcommunities.Foundation.SitecoreExtensions.ContentPageClose" value="/Site Settings/Site Specific Images/Content/ContentPageClose" />
			<setting name="EMAAR.Emaarcommunities.Foundation.SitecoreExtensions.NavigationHeaderPath" value="/Site Content/Navigation/Header" />
			<setting name="EMAAR.Emaarcommunities.Foundation.SitecoreExtensions.NavigationFooterPath" value="/Site Content/Navigation/Footer" />
			<setting name="EMAAR.Emaarcommunities.Foundation.SitecoreExtensions.ImageLocation" value="Assets/Project/Emaarcommunities/images/" />
			<setting name="EMAAR.Emaarcommunities.Foundation.SitecoreExtensions.IconRootPath" value="Assets/Project/Emaarcommunities/images/icon/" />
			<setting name="EMAAR.Emaarcommunities.Foundation.SitecoreExtensions.DateFormat" value="dd MMMM yyyy" />
			<setting name="EMAAR.Emaarcommunities.Foundation.SitecoreExtensions.NewsThumnailPixel" value="237x257" />
			<setting name="EMAAR.Emaarcommunities.Foundation.SitecoreExtensions.DownloadThumnailPixel" value="237x328" />
			<setting name="EMAAR.Emaarcommunities.Foundation.SitecoreExtensions.AlbumThumnailPixel" value="236x148" />
			<setting name="EMAAR.Emaarcommunities.Foundation.SitecoreExtensions.HeroImagepixel" value="1920x900" />
			<setting name="EMAAR.Emaarcommunities.Foundation.SitecoreExtensions.HomePageCarouselpixel" value="255x350" />
			<setting name="EMAAR.Emaarcommunities.Foundation.SitecoreExtensions.ImageTextpixel" value="540x550" />
			<setting name="EMAAR.Emaarcommunities.Foundation.SitecoreExtensions.Parallaxpixel" value="1920x900" />
			<setting name="EMAAR.Emaarcommunities.Foundation.SitecoreExtensions.ContentPageBannerpixel" value="860x400" />
			<setting name="EMAAR.Emaarcommunities.Foundation.SitecoreExtensions.RelatedPages" value="225x350" />
			<!-- This name is used to identify the Index based on Communities Sites-->
			<setting name="EMAAR.Emaarcommunities.Foundation.SitecoreExtensions.SearchIndexCommunitiesName" value="emaarcommunities" />
			<!-- This setting is used to make all Communities Related Processors/Pipeline will be executed for the below Configured sites-->
			<setting name="EMAAR.Emaarcommunities.Foundation.SitecoreExtensions.CommunitiesPipelinesExecutableWebsites" value="Downtowndubai|Greens" />
		</settings>
		<pipelines>
			<expandInitialFieldValue>
				<processor type="EMAAR.Emaarcommunities.Foundation.SitecoreExtensions.Tokens.CustomToken,EMAAR.Emaarcommunities.Foundation.SitecoreExtensions" patch:after="processor[@type='type=Sitecore.Pipelines.ExpandInitialFieldValue.ReplaceVariables, Sitecore.Kernel']"/>
			</expandInitialFieldValue>
		</pipelines>
	</sitecore>
</configuration>