<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<fieldTypes>
		
			<fieldType name="AdvanceImageField" type="Glass.Mapper.Sc.Fields.AdvanceImageField,EMAAR.Emaarcommunities.Foundation.AdvancedImage" resizable="true" />
		</fieldTypes>
		<mediaLibrary>
			<requestProtection>
				<protectedMediaQueryParameters>
					<parameter description="cx" name="cx"/>
					<parameter description="cy" name="cy"/>
					<parameter description="cw" name="cw"/>
					<parameter description="ch" name="ch"/>
				</protectedMediaQueryParameters>
				<customMediaQueryParameters>
					<parameter description="cx" name="cx"/>
					<parameter description="cy" name="cy"/>
					<parameter description="cw" name="cw"/>
					<parameter description="ch" name="ch"/>
				</customMediaQueryParameters>
			</requestProtection>
			<requestParser type="Sitecore.Resources.Media.MediaRequest, Sitecore.Kernel">
				<patch:attribute name="type">Sitecore.Resources.Media.CropMediaRequest,EMAAR.Emaarcommunities.Foundation.AdvancedImage</patch:attribute>
			</requestParser>
		</mediaLibrary>

		<settings>
			<setting name="Sitecore.Framework.Fields.AdvanceImageField.DefaultThumbnailFolderId" value="" />
			
		</settings>
		
	</sitecore>
</configuration>