<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
		<pipelines>
			<preprocessRequest>
				<processor type="Sitecore.Pipelines.PreprocessRequest.FilterUrlExtensions, Sitecore.Kernel">
					<param desc="Allowed extensions (comma separated)">aspx, ashx, asmx, txt,xml</param>
				</processor>
			</preprocessRequest>
			<httpRequestBegin>
				<processor type="EMAAR.Emaarcommunities.Feature.SEO.Pipelines.RobotsTxtProcessor, EMAAR.Emaarcommunities.Feature.SEO"
						   patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']"/>
			</httpRequestBegin>
		
		</pipelines>
    </sitecore>
</configuration>